html, body { height: 100%; }
body { padding-top: 70px; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
.btn:focus { outline: none; }

/* Fit screen width */
.container-full { margin: 0px auto; width: 100%; }

/* Sticky footer */
.container-full-height { min-height: 100%; margin-bottom: -52px; padding-bottom: 52px; }

/* Calendar */
.calendar-widget .event { cursor: pointer; }
.calendar-widget .calendar { min-height: 650px; }
    .calendar-widget .calendar td { vertical-align: middle; }

/* Calculator */
.calculator-widget .monitor { margin-bottom: 0px; }

/* Off Canvas */
@media screen and (max-width: 767px) {
    body { overflow-x: hidden; }
    .row-offcanvas { position: relative; -webkit-transition: all 0.25s ease-out; -moz-transition: all 0.25s ease-out; transition: all 0.25s ease-out; }
    .row-offcanvas-right .sidebar-offcanvas { right: -50%; }
    .row-offcanvas-left .sidebar-offcanvas { left: -50%; }
    .row-offcanvas-right.active { right: 50%; }
    .row-offcanvas-left.active { left: 50%; }
    .sidebar-offcanvas { position: absolute; top: 0; width: 50%; }
}
