<div class="panel panel-warning" ng-controller="CalendarController" ng-switch="mode">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="text-center" width="10%"><i class="fa fa-arrow-left" ng-click="prev()"></i></th>
                <th class="text-center" width="80%" ng-click="changeMode()">{{time | date:format}}</th>
                <th class="text-center"><i class="fa fa-arrow-right" ng-click="next()"></i></th>
            </tr>
        </thead>
    </table>
    <table class="table table-condensed text-center" ng-switch-default>
        <thead>
            <tr>
                <th class="text-center" ng-repeat="w in weekends">{{w}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in dates">
                <td ng-repeat="cell in row" ng-class="{'warning':cell.isInCurrentMonth}" ng-switch="time.getDate() == cell.date && cell.isInCurrentMonth">
                    <span ng-switch-default ng-class="{'text-muted':!cell.isInCurrentMonth}">{{cell.date}}</span>
                    <strong class="text-primary" ng-switch-when="true">{{cell.date}}</strong>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table text-center" ng-switch-when="month">
        <tbody>
            <!--<tr>
                <td>January</td>
                <td>February</td>
                <td>March</td>
                <td>April</td>
            </tr>
            <tr>
                <td>May</td>
                <td>June</td>
                <td>July</td>
                <td>August</td>
            </tr>
            <tr>
                <td>September</td>
                <td>October</td>
                <td>November</td>
                <td class="warning"><strong class="text-primary">December</strong></td>
            </tr>-->
            <tr ng-repeat="row in months">
                <td ng-repeat="cell in row" ng-class="{'warning':time.getMonth() == cell.value}" ng-switch="time.getMonth() == cell.value">
                    <span ng-switch-default class="text-muted">{{cell.text}}</span>
                    <strong class="text-primary" ng-switch-when="true">{{cell.text}}</strong>
                </td>
            </tr>
        </tbody>
    </table>
</div>