<div class="panel panel-warning" ng-controller="CalendarController">
    <table class="table table-condensed text-center">
        <thead>
            <tr>
                <th class="text-center"><i class="fa fa-arrow-left" ng-click="prev()"></i></th>
                <th colspan="5" class="text-center">{{time | date:"MMMM yyyy"}}</th>
                <th class="text-center"><i class="fa fa-arrow-right" ng-click="next()"></i></th>
            </tr>
            <tr>
                <th ng-repeat="w in weekends">{{w}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in dates">
                <td ng-repeat="cell in row" ng-class="{'warning':cell.isInCurrentMonth}" ng-switch="time.getDate() == cell.date && cell.isInCurrentMonth">
                    <span ng-switch-default>{{cell.date}}</span>
                    <strong class="text-success" ng-switch-when="true">{{cell.date}}</strong>
                </td>
            </tr>
        </tbody>
    </table>
</div>