<fieldset>
    <legend>
        <strong class="text-muted"><i class="fa fa-wrench"></i>&nbsp;Calculator</strong>
    </legend>
    <div class="panel panel-danger">
        <div class="panel-heading text-right">
            <strong>Hello world</strong>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <td><a class="btn btn-danger btn-block">7</a></td>
                    <td><a class="btn btn-danger btn-block">8</a></td>
                    <td><a class="btn btn-danger btn-block">9</a></td>
                    <td><a class="btn btn-danger btn-block">&divide;</a></td>
                    <td><a class="btn btn-danger btn-block">&plusmn;</a></td>
                </tr>
                <tr>
                    <td><a class="btn btn-danger btn-block">4</a></td>
                    <td><a class="btn btn-danger btn-block">5</a></td>
                    <td><a class="btn btn-danger btn-block">6</a></td>
                    <td><a class="btn btn-danger btn-block">&times;</a></td>
                </tr>
                <tr>
                    <td><a class="btn btn-danger btn-block">1</a></td>
                    <td><a class="btn btn-danger btn-block">2</a></td>
                    <td><a class="btn btn-danger btn-block">3</a></td>
                    <td><a class="btn btn-danger btn-block">&minus;</a></td>
                </tr>
                <tr>
                    <td colspan="2"><a class="btn btn-danger btn-block">0</a></td>
                    <td><a class="btn btn-danger btn-block">.</a></td>
                    <td><a class="btn btn-danger btn-block">+</a></td>
                    <td><a class="btn btn-danger btn-block">=</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>