<fieldset>
    <legend>
        <strong class="text-muted">&nbsp;<i class="fa fa-wrench"></i>&nbsp;Calculator</strong>
    </legend>
    <div class="col-md-3 col-md-offset-4">
        <div class="panel panel-danger calculator-widget">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="5">
                            <div class="well monitor text-right">Hello world</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="20%"><a class="btn btn-danger btn-block">7</a></td>
                        <td width="20%"><a class="btn btn-danger btn-block">8</a></td>
                        <td width="20%"><a class="btn btn-danger btn-block">9</a></td>
                        <td width="20%"><a class="btn btn-danger btn-block">&divide;</a></td>
                        <td><a class="btn btn-danger btn-block">&plusmn;</a></td>
                    </tr>
                    <tr>
                        <td><a class="btn btn-danger btn-block">4</a></td>
                        <td><a class="btn btn-danger btn-block">5</a></td>
                        <td><a class="btn btn-danger btn-block">6</a></td>
                        <td><a class="btn btn-danger btn-block">&times;</a></td>
                        <td><a class="btn btn-danger btn-block">&times;<sup>2</sup></a></td>
                    </tr>
                    <tr>
                        <td><a class="btn btn-danger btn-block">1</a></td>
                        <td><a class="btn btn-danger btn-block">2</a></td>
                        <td><a class="btn btn-danger btn-block">3</a></td>
                        <td><a class="btn btn-danger btn-block">&minus;</a></td>
                        <td><a class="btn btn-danger btn-block">&times;<sup>n</sup></a></td>
                    </tr>
                    <tr>
                        <td colspan="2"><a class="btn btn-danger btn-block">0</a></td>
                        <td><a class="btn btn-danger btn-block">.</a></td>
                        <td><a class="btn btn-danger btn-block">+</a></td>
                        <td><a class="btn btn-danger btn-block">=</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>