<div class="panel panel-primary calendar-widget" ng-controller="CalendarController" ng-switch="mode">
    <div class="panel-heading">
        <strong class="panel-title">
            <i class="fa fa-calendar"></i>
            &nbsp;Calendar
        </strong>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="text-center event" width="10%"><i class="fa fa-arrow-left" ng-click="prev()"></i></th>
                <th class="text-center event" width="80%" ng-click="toggleMode()">{{time | date:format}}</th>
                <th class="text-center event"><i class="fa fa-arrow-right" ng-click="next()"></i></th>
            </tr>
        </thead>
    </table>
    <table class="table text-center" ng-switch-default>
        <thead>
            <tr>
                <th class="text-center" ng-repeat="w in weekends">{{w}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in dates">
                <td ng-repeat="cell in row" ng-class="{'active':cell.isInCurrentMonth, 'success':time.getDate() == cell.date && cell.isInCurrentMonth}" ng-switch="time.getDate() == cell.date && cell.isInCurrentMonth">
                    <span ng-switch-default ng-class="{'text-muted':!cell.isInCurrentMonth}">{{cell.date}}</span>
                    <strong class="text-success" ng-switch-when="true">{{cell.date}}</strong>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table text-center" ng-switch-when="month">
        <tbody>
            <tr ng-repeat="row in months">
                <td class="event" ng-repeat="cell in row" ng-class="{'active':time.getMonth() == cell.value}" ng-switch="time.getMonth() == cell.value" ng-click="setMonth(cell.value)">
                    <span ng-switch-default class="text-muted">{{cell.text}}</span>
                    <strong class="text-success" ng-switch-when="true">{{cell.text}}</strong>
                </td>
            </tr>
        </tbody>
    </table>
</div>